


<% positions.forEach(function(position) { %>
  <form action="/deleteVPositions" method="POST" id = "frmDeletePositions">
    <div id = "setPosition"></div>
  </form>
  <fieldset class = "ViewProfile">
    <li>
      <button class = "EditProfileBtn"   onclick="setBtn('<%= position[3]%>')">Add shift</button>
      <button class = "EditProfileBtnCancel"  onclick="submitPositions('<%= position[0]%>')">Delete</button>
      <b><%= position[0] %></b>
      <i>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% if (position[1].length > 0) { %>
          <%=position[1] %> 
        <%} else { %> 
          No Description Provided
        <% } %>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% if (position[2].length > 0) { %>
          <b>Required Trainings: </b>
          <%=position[2] %> 
        <%} else { %> 
          No trainings required
        <% } %>
      </i>
    </li>
  </fieldset>
  <br>

  <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p>Add a shift to this postion: <span id = "warningMeg" style="color:red"></span></p>
          <div>
              <form action="/addpositionshift" method="post" id = "frmEditProfile">
                  <table>
                    <tr>
                        <th>Date in yyyy-mm-dd :</th>
                        <th>
                            <input class = "EditProfileInput" 
                                name="date"
                                type="text" >          
                        </th>
                    </tr>
                    <tr>
                        <th>Start Time in hh:mm :</th>
                        <th>
                            <input class = "EditProfileInput" 
                                name="startTime"
                                type="text" >          
                        </th>
                    </tr>
                    <tr>
                        <th>End Time in hh:mm :</th>
                        <th>
                            <input class = "EditProfileInput" 
                                name="endTime"
                                type="text" >          
                        </th>
                    </tr>
                  </table>
                  <div id = "setPos"></div>
              </form>
              <div><button class = "EditProfileBtn" onclick="submitShift()">Submit</button></div>
              <br>
          </div>    
      </div>
  </div>

<% }); %>
 

<script>
  
    function submitPositions(SelectedPosition){
        console.log('Submitting training for user ' + SelectedPosition);
        document.getElementById("setPosition").innerHTML = "<input name='positionName' type='text' value= '" + SelectedPosition + "'/>";
        console.log("about to post with setPosition = " + document.getElementById("setPosition").innerHTML);
        document.getElementById("frmDeletePositions").submit();
        console.log("done with delete");
    }





    var modal = document.getElementById('myModal');
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var PositionID = '';

    // When the user clicks the button, open the modal 
    function setBtn(SelectedPosID) {
        PositionID = SelectedPosID;
        modal.style.display = "block";
    }
            
    function submitShift(){
        console.log('Submitting shift for position ' + PositionID);
        if (document.forms["frmEditProfile"]["date"].value == '' ||
            document.forms["frmEditProfile"]["startTime"].value == '' ||
            document.forms["frmEditProfile"]["endTime"].value == '') {
            document.getElementById("warningMeg").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invalid Input";
        } else {
            var y_m_d   = document.forms["frmEditProfile"]["date"].value + "T";
            var start_t  = document.forms["frmEditProfile"]["startTime"].value + ":00Z";
            var end_t  = document.forms["frmEditProfile"]["endTime"].value + ":00Z";
            var timestamp1 = Date.parse(y_m_d + start_t);
            var timestamp2 = Date.parse(y_m_d + end_t);
            if (!isNaN(timestamp1) && !isNaN(timestamp2) && timestamp1 < timestamp2) {
                document.getElementById("setPos").innerHTML = "<input name='positionID' type='text' value= '" + PositionID + "'/>";
                console.log("about to post with setPosition = " + document.getElementById("setPos").innerHTML);
                document.getElementById("frmEditProfile").submit();
                console.log("done with post");
                modal.style.display = "none"; 
            } else {
                document.getElementById("warningMeg").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incorrect Date format";
            }
        }
         
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  
  </script>