<!DOCTYPE html>

<html lang="en">

  <head>
    <%- include partials/head.ejs %>
    <script>
      <% var cleanEvents = new Array() %>
      <% var currentEvents = new Array() %>
      
      console.log('userqp')
      function ColorEvents() {

        console.log("Calling ColorEvents");
        <% for(var i=0; i < events.length; i++) { %>
            <% var tempEvent = events[i] %>
            <% if(user.qualifiedPositions.includes(events[i].title)){ %>
              <% if(events[i].user ==  null){ %>
                <% tempEvent.color = '#99b27f ' %>
              <% } else if(events[i].user == user.id){ %>
                <% tempEvent.color = '#e79541' %>
              <% } else {%>
                <% tempEvent.backgroundColor = 'dimgrey' %>
                <% tempEvent.textColor = 'Maroon' %>
                <% tempEvent.borderColor = 'darkRed' %>
              <% } %>
            <% } else {%>
              <% tempEvent.backgroundColor = 'dimgrey' %>
              <% tempEvent.textColor = 'lightgrey' %>
              <% tempEvent.borderColor = 'lightgrey' %>
            <% } %>
            <% cleanEvents.push(events[i]) %>
          <% } %>
          <% currentEvents = cleanEvents %>
      }
    </script>
  </head>

  <body>
    <header>
        <%- include partials/header.ejs %>
      <h1>Volunteer Oppurtunities</h1>
    </header>
    <section>
      <nav>
          <%- include partials/navMenu.ejs %>
      </nav>
      <article>
        <table>
          <tr>
            <th> <h2> My Calendar</h2></th>
            <th>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="dropdown filterList">
                  <table>
                    <tr>
                      <th>
                        Filter By: 
                      </th>
                      <th id = "currentSel">
                        <fieldset>
                          Show All Events
                        </fieldset>
                      </th>
                      <th>
                        <button onclick="toggleDropdown('myFilterDropdown')" class="dropbtn">V</button>
                        <div id="myFilterDropdown"  class="dropdown-content">
                            <button class = "EditDropdownButton" onclick="updateCalFilter('Show All Events')">Show All Events</button>
                            <button class = "EditDropdownButton" onclick="updateCalFilter('Show Available Events')">Show Available Events</button>
                            <button class = "EditDropdownButton" onclick="updateCalFilter('Show My Events')">Show My Events</button>
                        </div>
                      </th>
                    </tr>
                  </table>
              </div>
            </th>
            <th>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="dropdown filterList">
                  <table>
                    <tr>
                      <th>
                        Show Positions: 
                      </th>
                      <th id = "currentPos">
                        <fieldset>
                          Show All Positions
                        </fieldset>
                      </th>
                      <th>
                        <button onclick="toggleDropdown('myPosDropdown')" class="dropbtn">V</button>
                        <div id="myPosDropdown"  class="dropdown-content">
                            <button class = "EditDropdownButton" onclick="updatePostFilter('Show All Positions')">Show All Positions</button>
                            <button class = "EditDropdownButton" onclick="updatePostFilter('Show Qualified Positions')">Show Qualified Positions</button>
                            <% for(var f = 0; f < user.qualifiedPositions.length; f++) {%>
                              <button class = "EditDropdownButton" onclick="updatePostFilter('<%= user.qualifiedPositions[f] %>')"><%= user.qualifiedPositions[f] %></button>
                            <% } %>
                        </div>
                      </th>
                    </tr>
                  </table>
              </div>
            </th>
          </tr>
        </table>
        <%- include partials/partialCalendar.ejs %>
      </article>
      
    </section>
    <footer>
        <%- include partials/footer.ejs %>
    </footer>
  </body>
  
</html>


<script>

  var clientEvents = <%- JSON.stringify(events) %>;
  var userQP = <%- JSON.stringify(user.qualifiedPositions) %>;

  function toggleDropdown(mID) {
      document.getElementById(mID).classList.toggle("show");
  }

  function updateCalFilter(newValue){
    <% currentEvents = cleanEvents %>
    document.getElementById("currentSel").innerHTML = '<fieldset>' + newValue + '</fieldset>';
    renderCal(newValue);
    console.log('inner text = ' + document.getElementById("currentPos").innerText)
    renderCalPos(document.getElementById("currentPos").innerText);
  }

  function renderCal(newValue) {
    ColorEvents();
    
    console.log('New value is ' + newValue);
    if(newValue == 'Show My Events'){
      console.log('Running showmy events');
      <% var newEvents = new Array()%>
      <% for(var i=0; i < currentEvents.length; i++) { %>
          <% if(currentEvents[i].user == user.id){ %>
            <% newEvents.push(currentEvents[i]) %>
          <% } %>
      <% } %>
      document.getElementById("theevents").innerHTML = '<%= JSON.stringify(newEvents) %>';
    } else if(newValue == 'Show Available Events'){
      console.log('Running showmy events');
      <% var openEvents = new Array()%>
      <% for(var i=0; i < currentEvents.length; i++) { %>
          <% if(currentEvents[i].user == null && user.qualifiedPositions.includes(events[i].title)){ %>
            <% openEvents.push(currentEvents[i]) %>
          <% } %>
      <% } %>
      document.getElementById("theevents").innerHTML = '<%= JSON.stringify(openEvents) %>';
    } else {
      console.log('Running show all events');
      <% var oldEvents = currentEvents%>
      document.getElementById("theevents").innerHTML = '<%= JSON.stringify(oldEvents) %>';
    }
    reRender();
  }

  /**
   * I am struggling to get this to work.  There are a couple of issues.
   * 1) It is hard to communicate between the filters.  All code in <% %> is rendered prior to 
   *    load, which means if I try to set currentPos to whatever is selected, it sets it to all
   *    regardless of if loop, and so ends up with whatever is last selected
   * 2) New Value is only client side, not server side.  So I can not easily create a drop down of positions
   *    Full client side rendering would make this a lot easier, but I would need to implement angular or react
   *    or I need a way to set a client side variable to a server side value (events) and only modify client side
   */
   


  function updatePostFilter(newValue){
    document.getElementById("currentPos").innerHTML = '<fieldset>' + newValue + '</fieldset>';
    renderCalPos(newValue);
    // console.log('inner text = ' + document.getElementById("currentSel").innerText)
    // renderCal(document.getElementById("currentSel").innerText);
  }

  function renderCalPos(newValue) {
    //ColorEvents();
    console.log('New value is ' + newValue);
    if(newValue == 'Show Qualified Positions'){
      console.log('Running showmy pos');
      var qualEvents = new Array()
      for(var i=0; i < clientEvents.length; i++) {
          console.log('userQp - ' + userQP);
          console.log('clientEvents[i].title - ' + clientEvents[i].title);
          if(userQP.includes(clientEvents[i].title)){
            qualEvents.push(clientEvents[i])
          }
      }
      document.getElementById("theevents").innerHTML = JSON.stringify(qualEvents);
    } else if(newValue == 'Show All Positions'){
      console.log('Running show all events');
      var oldEvents = '<%= JSON.stringify(events) %>'
      document.getElementById("theevents").innerHTML = oldEvents;
    }
  
    reRender();
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
  }
</script>


