<!DOCTYPE html>

<html lang="en">

  <head>
    <%- include partials/head.ejs %>
  </head>

  <body>
    <header>
        <%- include partials/header.ejs %>
      <h1>Volunteer Oppurtunities</h1>
    </header>
    <section>
      <nav>
          <%- include partials/navMenu.ejs %>
      </nav>
      <article>
            <%- include partials/partialCalendar.ejs %>
      </article>
      
    </section>
    <footer>
        <%- include partials/footer.ejs %>
    </footer>
  </body>
  
</html>
