<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include partials/head.ejs %>
  </head>

  <body>
    <header>
      <%- include partials/header.ejs %>
      <h1>Coordinator Dashboard</h1>
    </header>

    <section>
      <nav>
          <%- include partials/navMenu.ejs %>
      </nav>

      <article>
        <div id = "userProfile"
          <%- include partials/partialUserProfile.ejs %>
        </div>
      </article>
    </section>

    <footer>
        <%- include partials/footer.ejs %>
    </footer>

  </body>
  <script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmEditProfile").submit();
        console.log("done with post");
    }
  </script>
</html>
