<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include partials/head.ejs %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  </head>

  <body>
    <header>
    <h2><img src = "/assets/apod_logo.png" alt = "apod_logo" height="110" width="110" style="float:left"/></h2>
    <h1>Welcome <%= user.local.firstname %></h1>
    </header>

    <section>
    <nav>
        <%- include partials/navMenu.ejs %>
    </nav>

    <article>
      <div id = "userProfile"
        <%- include partials/partialUserProfile.ejs %>
      </div>

      <h2>Change Application Status</h2>
      <p><b>Not yet submitted</b></p>
      <p>Pending</p>
      <p>Approved</p>
      <p>Denied</p>

		<h2>Training Status</h2>
    <p>Completed Training:
    <% if ((user.completedTrainings).length===0) {%>
          No training has been done
    <%}  else{%>
      <% for(var i=0;i<(user.completedTrainings).length;i++){%>
        <%=user.completedTrainings[i]%><br>
      <%}%>
    <%}%>
      </p>

    <p> Training list</p>
    <% trainings.forEach(function(training) { %>
      <li><%= training %> </li>
    <% }); %>

    <div id="Application_Status_Bar">
      <div id="progressBar">1%</div>
    </div>

    <br>
    <button onclick="update()">Check Status</button>

    <script>
    function update() {
    var element = document.getElementById("progressBar");
    var width = 1;
    var identity = setInterval(scene, 10);
    function scene() {
     if (width >= 100) {
       clearInterval(identity);
     } else {
       width++;
       element.style.width = width + '%';
       element.innerHTML = width * 1  + '%';
     }
    }
    }
    </script>

    </article>
    </section>

    <footer>
      <%- include partials/footer.ejs %>
    </footer>

  </body>
</html>
