<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include partials/head.ejs %>
  </head>

  <body>
    <!-- responsive header -->
    <header>
      <%- include partials/header.ejs %>
      <h1>Welcome <%= user.local.firstname %></h1>
    </header>

    <section>
    <nav>
        <%- include partials/navMenu.ejs %>
    </nav>

    <article>
      <div id = "userProfile"
        <%- include partials/partialUserProfile.ejs %>
      </div>

      <h2>Application Status</h2>
      <p><b>Not yet submitted</b></p>
      <p>Pending</p>
      <p>Approved</p>
      <p>Denied</p>

    <h2>Training Status</h2>
    
    <div id="Application_Status_Bar">
        <div id="progressBar">1%</div>
    </div>
    <br>
    <button onclick="update()">Check Training Completion</button>
    
    <p><b>Completed Training:</b> </p>
    <ul>
      <% if ((user.completedTrainings).length===0) {%>
            <li>No training has been done</li>
      <%}  else{%>
        <% for(var i=0;i<(user.completedTrainings).length;i++){%>
          <li><%=user.completedTrainings[i]%></li>
        <%}%>
      <%}%>
    </ul>
      

    <p> <b>Full Training list</b></p>

    <ul>
      <% trainings.forEach(function(training) { %>
        <li><%= training %> </li>
      <% }); %>
    </ul>

    

    

    <script>
      function update() {
        var element = document.getElementById("progressBar");
        var width = 1;
        var userTrainings = <%= user.completedTrainings.length %>;
        var totTrainings = <%= trainings.length %>;
        var trainPrcnt =  (userTrainings/totTrainings)*100;
        console.log('trainPrcnt = ' + trainPrcnt);
        var identity = setInterval(scene, 10);

        function scene() {
          if (width >= trainPrcnt) {
            clearInterval(identity);
          } else {
            width++;
            element.style.width = width + '%';
            element.innerHTML = width * 1  + '%';
          }

        }
      }
    </script>

    </article>
    </section>

    <footer>
      <%- include partials/footer.ejs %>
    </footer>

  </body>
</html>
