<!DOCTYPE html>


<html lang="en">
 
<head>
    <%- include partials/head.ejs %>
</head>

<body>

<header>
    <%- include partials/header.ejs %>
    <h1>Trainings</h1>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <h2>Training List</h2>
	<%- include partials/partialDisplayTrainingList.ejs %>


    <body class = "text-center" style="border: 1px solid #000000;"></body>

	<form class = "EditProfile" action="/trainings" method="post" id = "frmEditProfile">
        <table class = "EditProfileHeader">
            <tr>
                <th class = "EditProfileLabel">Training Name:</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="trainingName"
                        type="text" >
                        
                </th>
            </tr>
            <tr>
                <th class = "EditProfileLabel">Training Description:</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="TrainingDescription"
                        type="text" >          
                </th>
            </tr>
        </table>      
    </form>

	<button class = "EditProfileBtn" onclick = "submitChanges()" >ADD</button>
    
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

<script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmEditProfile").submit();
        console.log("done with post");
    }
</script>


</html>