<!DOCTYPE html>


<html lang="en">
 
<head>
    <%- include partials/head.ejs %>
</head>

<body>

<header>
    <%- include partials/header.ejs %>
    <h1>Trainings</h1>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <h2>Add A New Training</h2>
    <fieldset class = "EditProfileSmall">
        <form action="/trainings" method="post" id = "frmPostTrainings">
            <table class = "EditProfileHeader">
                <tr>
                    <th class = "EditProfileLabel">Training Name:</th>
                    <th>
                        <input class = "EditProfileInput" 
                            name="trainingName"
                            type="text" >
                            
                    </th>
                </tr>
                <tr>
                    <th class = "EditProfileLabel">Training Description:</th>
                    <th>
                        <input class = "EditProfileInput" 
                            name="TrainingDescription"
                            type="text" >          
                    </th>
                </tr>
            </table>      
        </form>
        <button class = "EditProfileBtn" onclick = "submitChanges()" >ADD</button>
    </fieldset>

	
    
    <h2>Available Trainings</h2>
    <%- include partials/partialDisplayTrainingList.ejs %>
    
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

<script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmPostTrainings").submit();
        console.log("done with post");
    }
</script>


</html>