<!DOCTYPE html>


<html lang="en">
 
<head>
    <%- include partials/head.ejs %>
</head>

<body>

<header>
    <%- include partials/header.ejs %>
    <h1>All Volunteer Positions</h1>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <h2>Available Volunteer Positions</h2>
    <%- include partials/partialViewPositions.ejs %>
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

<script>
    function submitChanges(){
        console.log("about to post");
        //alert("about to post");
        document.getElementById("frmAddPositions").submit();
        console.log("done with post");
    }
</script>


</html>


