<!DOCTYPE html>


<html lang="en">
 
<head>
    <%- include partials/head.ejs %>
</head>

<body>

<header>
    <%- include partials/header.ejs %>
    <h1>Volunteer Positions</h1>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <h2>Add A New Position</h2>
    <fieldset class = "EditProfileMed">
        <div>
            <form  action="/volunteerpositions" method="post" id = "frmAddPositions">
                
                <table class = "EditProfileHeader">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th class = "EditProfileLabel">Position Name:</th>
                                    <th>
                                        <input class = "EditProfileInput" 
                                            name="positionName"
                                            type="text" >
                                            
                                    </th>
                                </tr>
                                <tr>
                                    <th class = "EditProfileLabel">Role Description:</th>
                                    <th>
                                        <input class = "EditProfileInput" 
                                            name="roleDescription"
                                            type="text" >          
                                    </th>
                                </tr>
                                <tr>
                                    <th class = "EditProfileLabel">Date in Year-Month-Day :</th>
                                    <th>
                                        <input class = "EditProfileInput" 
                                            name="date"
                                            type="text" >          
                                    </th>
                                </tr>
                                <tr>
                                    <th class = "EditProfileLabel">Start Time in hh:mm :</th>
                                    <th>
                                        <input class = "EditProfileInput" 
                                            name="startTime"
                                            type="text" >          
                                    </th>
                                </tr>
                                <tr>
                                    <th class = "EditProfileLabel">End Time in hh:mm :</th>
                                    <th>
                                        <input class = "EditProfileInput" 
                                            name="endTime"
                                            type="text" >          
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr><tr>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <th class = "EditProfileLabel"><br>Required Trainings:</th>
                                </tr>
                                <tr>
                                    <table class = "TrainingListTable">
                                        <tr>
                                            <% for(var i = 0; i < trainings.length; i++) { %>
                                                <% if (i>0 && i%2 === 0) { %>
                                                </tr><tr>
                                                <% } %>
                                                    <td class="EditProfileLabel" style = "text-align: left;">
                                                        <input type="checkbox" 
                                                            name= "<%='training:' +  trainings[i] %>" 
                                                            id="<%=trainings[i]%>" 
                                                            data-id="<%=trainings[i]%>" 
                                                            value="<%=trainings[i]%>" 
                                                            />
                                                        <%= trainings[i] %>
                                                    </td>
                                                    <th></th>
                                            <%}%>
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>      
            </form>
        </div>
        <div>
            <button class = "EditProfileBtn" onclick = "submitChanges()" >ADD</button>
        </div>
    </fieldset>
    
    
    <h2>Available Volunteer Positions</h2>
    <%- include partials/partialDisplayPositionList.ejs %>
    
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

<script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmAddPositions").submit();
        console.log("done with post");
    }
</script>


</html>


