<!DOCTYPE html>


<html lang="en">
 
<head>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="stylesheets/managementStyle.css">
</head>

<body>

<header>
    <%- include partials/header.ejs %>
    <h1>Volunteer Management</h1>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <br>
    <h2> Manage volunteers</h2>
    <fieldset class = "EditProfile">
        <table class = "ManagementTable" id = "management">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User Type</th>
                    <th>Application Status</th>
                    <th>Qualified Positions</th>
                    <th>Completed Trainings</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].local.firstname %> <%= users[i].local.lastname %></td>
                        <td>
                            <form action="/updateUserType" method="post" id = "frmUpdateUserType">
                                <div id = "setNewUserType" hidden></div>
                            </form>

                            <div class="dropdown">
                                    <% if(users[i].local.isCoordinator) { %>
                                        Coordinator
                                    <% } else { %>
                                        Standard
                                    <% } %> 
                                <button onclick="toggleUTDropdown('myUTDropdown-<%= i %>')" class="dropbtn">V</button>
                                <div id="myUTDropdown-<%= i %>"  class="dropdown-content">
                                    <button class = "EditDropdownButton" onclick="updateUserType('Standard', '<%= users[i].local.email %>')">Standard</button>
                                    <button class = "EditDropdownButton" onclick="updateUserType('Coordinator', '<%= users[i].local.email %>')">Coordinator</button>
                                </div>
                            </div>

                        </td>
                        <td>
                            <!-- TODO I feel like there is a better way to do this. Cant you just post within the function?-->
                            <form action="/updateStatus" method="post" id = "frmUpdateAppStatus">
                                <div id = "setNewAppStatus" hidden></div>
                            </form>

                            <div class="dropdown">
                                <%= users[i].local.appStatus %>
                                <button onclick="toggleDropdown('myDropdown-<%= i %>')" class="dropbtn">V</button>
                                <div id="myDropdown-<%= i %>"  class="dropdown-content">
                                    <button class = "EditDropdownButton" onclick="updateAppStatus('Pending', '<%= users[i].local.email %>')">Pending</button>
                                    <button class = "EditDropdownButton" onclick="updateAppStatus('Approved', '<%= users[i].local.email %>')">Approved</button>
                                    <button class = "EditDropdownButton" onclick="updateAppStatus('Denied', '<%= users[i].local.email %>')">Denied</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <ul>
                                <% for(var c = 0; c < users[i].qualifiedPositions.length; c++) { %>
                                    <li><%= users[i].qualifiedPositions[c] %> </li>
                                <% }; %>
                            </ul>
                        </td>
                        <td>
                            <button class = "EditProfileBtn"  id = "<%= i %>" onclick="setBtn('<%= users[i].local.email %>')">Add</button>
                            <ul>
                                <% for(var c = 0; c < users[i].completedTrainings.length; c++) { %>
                                    <li><%= users[i].completedTrainings[c] %> </li>
                                    
                                <% }; %>
                            </ul>
                        </td>
                    </tr>
                <% }; %>
            </tbody>
        </table>
    </fieldset>
        <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Select the trainings you would like to add to the user</p>
            <div>
                <form action="/volunteermanagement" method="post" id = "frmAddTrainings">
                    <ul>
                        <% trainings.forEach((training)=>{ %>
                                <p><%=training%>
                                <input type="checkbox" name= "<%=training%>" id="<%=training%>" data-id="<%=training%>" /></button>
                                <!-- value="<%=training%>" onchange="if(this.checked == true) addTraining(); else if(this.checked == false) removeTraining();-->
                                </p>
                        <%})%>
                    </ul>
                    <div id = "setEmail" hidden></div>
                </form>
                <div><button class = "EditProfileBtn" onclick="submitTrainings()">Add Trainings</button></div>
                <br>
            </div>    
        </div>
    
    </div>

        <script src="tablefilter/tablefilter.js"></script>

        <script>
            var tf = new TableFilter('management');
            tf.init();
        </script>

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');
            
            // Get the button that opens the modal
            //var btn = document.getElementById("myBtn");
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            var UserEmail = '';

            // When the user clicks the button, open the modal 
            function setBtn(mUserEmail) {
                UserEmail = mUserEmail;
                modal.style.display = "block";
            }
            
            function submitTrainings(){
                console.log('Submitting training for user ' + UserEmail);
                document.getElementById("setEmail").innerHTML = "<input name='email' type='text' value= '" + UserEmail + "'/>";
                console.log("about to post with setEmail = " + document.getElementById("setEmail").innerHTML);
                document.getElementById("frmAddTrainings").submit();
                console.log("done with post");
                modal.style.display = "none";
            }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }

            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function toggleDropdown(mID) {
                document.getElementById(mID).classList.toggle("show");
            }

            function updateAppStatus(newStatus, userEm){
                
                console.log("about to post");
                document.getElementById("setNewAppStatus").innerHTML = "<input name='newStatus' type='text' value= '" + newStatus + "'/>" + "<input name='email' type='text' value= '" + userEm + "'/>";
                document.getElementById("frmUpdateAppStatus").submit();
                console.log("done with post");
            }

            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function toggleUTDropdown(mID) {
                document.getElementById(mID).classList.toggle("show");
            }

            function updateUserType(newUserType, userEm){
                
                console.log("about to post");
                document.getElementById("setNewUserType").innerHTML = "<input name='newUserType' type='text' value= '" + newUserType + "'/>" + "<input name='email' type='text' value= '" + userEm + "'/>";
                document.getElementById("frmUpdateUserType").submit();
                console.log("done with post");
            }
        </script>
        
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

</html>


