<!DOCTYPE html>


<html lang="en">
 
<head>
    <title>All Paws On Deck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/primarySiteTheme.css">
</head>

<body>

<header>
<h2>Volunteer Positions</h2>
</header>

<section>
<nav>
    <%- include partials/navMenu.ejs %>
</nav>

<article>
    <h2>Open Job List</h2>
	<%- include partials/partialDisplayPositionList.ejs %>


    <body class = "text-center" style="border: 1px solid #000000;"></body>

    <form class = "EditProfile" action="/volunteerpositions" method="post" id = "frmEditProfile">
        
		<table class = "EditProfileHeader">
            <tr>
                <th class = "EditProfileLabel">Position Name:</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="positionName"
                        type="text" >
                        
                </th>
            </tr>
            <tr>
                <th class = "EditProfileLabel">Role Description:</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="roleDescription"
                        type="text" >          
                </th>
            </tr>
			<tr>
                <th class = "EditProfileLabel">Required Trainings:</th>
				<td><ul class="EditProfileLabel" id ="dynamic-list"></ul>
			</tr>
			<tr>
				<td><ul>
					<% trainings.forEach((training)=>{ %>
						
							<p class="EditProfileLabel"><%=training%>
							<input type="checkbox" name= "training" id="<%=training%>" data-id="<%=training%>" value="<%=training%>"  /></button>
							</p>
					<%})%>
					</ul>
                </td>
				
            </tr>
            <tr>
                <th class = "EditProfileLabel">Date in Year-Month-Day :</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="date"
                        type="text" >          
                </th>
            </tr>
            <tr>
                <th class = "EditProfileLabel">Start Time in hh:mm :</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="startTime"
                        type="text" >          
                </th>
            </tr>
            <tr>
                <th class = "EditProfileLabel">End Time in hh:mm :</th>
                <th>
                    <input class = "EditProfileInput" 
                        name="endTime"
                        type="text" >          
                </th>
            </tr>
            
        </table>      
    </form>
    
    <button class = "EditProfileBtn" onclick = "submitChanges()" >ADD</button>
    
</article>
</section>

<footer>
    <%- include partials/footer.ejs %>
</footer>

</body>

<script>
    function submitChanges(){
        console.log("about to post");
        document.getElementById("frmEditProfile").submit();
        console.log("done with post");
    }
</script>
<script>
    function addTraining(){
		var ul = document.getElementById("dynamic-list");
		var training = document.getElementById("training");
		var li = document.createElement("li");
		li.setAttribute('id', training);
		li.appendChild(document.createTextNode(training.value));
		ul.appendChild(li);	
    }
</script>
<script>
function removeTraining(){
    var ul = document.getElementById("dynamic-list");
    var training = document.getElementById("training");
	var item = document.getElementById(training.value);
    ul.removeChild(item);
}
</script>

</html>


